<div class="jumbotron">
    <div class="container">
        <h2>Search Kiwi Flights</h2>
        <div>
            <app-search></app-search>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <app-results></app-results>
    </div>

    <hr>

    <footer>
        <p>
            &copy; Ondrej Machala 2018,
            <a href="https://github.com/omachala/kiwi-angular-graphql/" target="_new">https://github.com/omachala/kiwi-angular-graphql/</a>
        </p>
    </footer>
</div>