<form [formGroup]="form"
      (ngSubmit)="onSubmit(form)"
      [class.error]="(!form.valid && form.dirty)">

    <div class="form-row">
        <div class="col">
            <input [formControl]="form.controls['flightFrom']"
                   type="text"
                   class="form-control"
                   placeholder="From">
        </div>
        <div class="col">
            <input [formControl]="form.controls['flightTo']"
                   type="text"
                   class="form-control"
                   placeholder="To">
        </div>
        <div class="col">
            <input [formControl]="form.controls['flightDate']"
                   type="date"
                   class="form-control" placeholder="Zip">
        </div>
        <div class="col">
            <button [disabled]="!form.valid"
                    type="submit"
                    class="btn btn-primary mb-2">
                {{ loading ? 'Searching ...' : 'Search' }}
            </button>
        </div>
    </div>
</form>